* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  transition: all 500ms ease-in-out 200ms;
}
button:hover,
button:focus {
  background-color: var(--color-2nd);
  color: var(--color-1st);
  border: 2px solid var(--color-1st);
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;

  --color-1st: #302c63;
  --color-2nd: #FFFFFF;
  --color-3rd: #b52184;
}

h1, h2, h3, fieldset legend {
  color: var(--color-3rd);
  font-weight: 900;
  font-size: 3.2rem;
}

p, 
input::placeholder, input,
textarea::placeholder, textarea {
  color: var(--color-1st);
  font-weight: 600;
  font-size: 1.6rem;
}
textarea::placeholder {
  line-height: 140%;
}



body {
  background-color: var(--color-2nd);
  display: grid;
}



main #hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#hero > img {
  flex: 1;
}
#hero h1 {
 padding-top: 1.6rem;
}
#hero p {
  font-size: 2rem;
  padding-top: .5rem;
}
#hero button {
  border: none;
  margin-top: 3.6rem;
  margin-bottom: 9rem;
  background-color: transparent;
}



main .articles {
  background-color: var(--color-1st);
  padding: 5.2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
article {
  background-color: var(--color-2nd);
  padding: 2.6rem;
  padding-right: 6rem;
  border-radius: 2rem;
  width: 35.2rem;
}
article h3 {
  padding-bottom: 2rem;
}



fieldset {
  border: 0;
  margin: 7.8rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
fieldset legend {
  padding-bottom: 4.2rem;
}
.input-wrapper,
.textarea-wrapper {
  border: 2px solid var(--color-1st);
  border-radius: 1.6rem;
}
.textarea-wrapper {
  height: 12.6rem;
}
.input-wrapper:focus-within, 
.textarea-wrapper:focus-within {
  outline: 2px solid var(--color-3rd);
  border-color: var(--color-2nd);
}

#name, #email {
  background-repeat: no-repeat;
  background-position: 1.4rem center;
}
#name {
  background-image: url(./assets/user.svg);
}
#email {
  background-image: url(./assets/a.svg);

}

input, textarea {
  border: 0;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 1.6rem 5rem;
}
textarea {
  resize: none;
  padding: 1.2rem 1.6rem 1.6rem;
}

form button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--color-2nd);

  background-color: var(--color-1st);
  border: 0;
  border-radius: 1.6rem;
  padding: 1rem 1.6rem;
  width: max-content;
}



footer {
  background-color: var(--color-1st);

  font-size: 2rem;
  color: var(--color-2nd);
  text-align: center;
  padding-block: 1.6rem;
}



@media (min-width: 750px) {
  main #hero {
    flex-direction: row-reverse;
    justify-content: space-between;
    min-height: min-content;
  }
  #hero > img {
    align-self: flex-start;
    padding-bottom: clamp(3rem, 10vh, 10rem);
  }
  #hero header {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: clamp(1rem, 5vh, 6rem);
    padding-left: clamp(3rem, 10vh, 10rem);
    padding-bottom: clamp(3rem, 10vh, 10rem);
  }
  #hero h1 {
    font-size: clamp(3.2rem, calc(5vw + .5rem), 5.8rem) ;
  }
  #hero p {
    font-size: 3.2rem;
  }
  #hero button {
    margin-bottom: 0;
  }


  main .articles {
    flex-direction: row;
    justify-content: center;
  }

  form {
    display: flex;
  }
  form fieldset {
    width: 50%;
    margin: 7.8rem clamp(3rem, 10vh, 10rem);
  }
  form::after  {
    content: '';
    height: inherit;
    width: 50%;
    display: block;

    background-image: url(./assets/stars.png);
  }
}